.bannerSlider {
	overflow: hidden;
}

.bannerSlider .slides {
	margin: 0;
}
.slides:before,
.slides:after {
	clear: both;
	content: "";
	display: table;
}

.bannerSlider .banner__img {
	max-width: none;
}
