/*
 * Theme Name: postoffice
 * Theme URI: http://www.greengraphics.com.au
 * Version: 1.0.5
 * Description: A Theme by Green Graphics
 * Author: Green Graphics
 * Author URI: http://www.greengraphics.com.au
 * Text Domain: postoffice
 * Bitbucket Theme URI: https://bitbucket.org/greengraphics/postoffice-theme
 */

/******************************************************************************
    INDEX:
        i - Resets, Imports, Utilities, Misc
        ii - Customize plugins
        iii - Body
        iiii - Fonts
    STRUCTURE:
        1. - Head
        2. - Main
        3. - Content
        4. - Sidebar
        5. - Footer
        6. - Responsive
        7. - Front Page

******************************************************************************/

/******************************************************************************/

/*!     i - Imports, Resets, Utilities, Misc                                  */

/******************************************************************************/
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
path {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
p {
	line-height: 1.5;
	margin: 0 0 16px;
	max-width: 625px;
}
p.empty,
p:empty {
	line-height: 0;
	margin: 0;
	padding: 0;
}
ul,
ol {
	margin: 16px 0;
	padding: 0 0 0 18px;
}
li,
dt,
dd {
	margin: 0 0 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin: 0 0 16px;
}
sub,
sup {
	line-height: 1.2;
}
dt {
	clear: left;
	float: left;
	font-weight: 700;
	max-width: 65px;
	width: 20%;
}
dd {
	float: left;
	width: 80%;
}
* > *:last-child {
	margin-bottom: 0;
}
* > ul:last-child,
* > ol:last-child,
* > dl:last-child {
	margin-bottom: 15px;
}
[class*="__list"] {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
:active,
:focus {
	outline: none;
}
.cf:before,
dl:before,
.cf:after,
dl:after {
	content: " ";
	display: table;
}
.cf:after,
dl:after {
	clear: both;
}
img {
	border: none;
	height: auto;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
}
iframe {
	max-width: 100%;
}
svg {
	display: block;
	margin: 0 auto;
}

.alignnone {
	margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
a img.alignnone {
	margin: 5px 20px 20px 0;
}
a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: none;
	text-align: center;
	margin: 0 0 32px 0;
}
.wp-caption-text {
	margin: 10px 0;
}
.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}
.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	padding: 0;
	width: auto;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	margin: 0;
	padding: 0 4px 5px;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.sticky,
.bypostauthor,
.gallery-caption {
	font-size: 12px;
	font-weight: 700;
}

input,
textarea {
	border: 1px solid #3434;
	border-radius: 3px;
	color: black;
	font-size: 14px;
	padding: 8px 12px;
}
input:focus,
input:active,
textarea:focus,
textarea:active {
	border-color: #379d37;
}

input[type="submit"] {
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	font-size: 1.1em;
	text-transform: uppercase;
	background-color: #d36783;
	border: none;
}

input[type="submit"]:hover {
	background: #3e3d40;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

button[type="submit"] {
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	font-size: 1.1em;
	text-transform: uppercase;
	background-color: #d36783;
	border: none;
}

button[type="submit"]:hover {
	background: #3e3d40;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

table {
	margin: 0 0 16px;
}

td {
	padding: 8px;
}

.main .gform_wrapper input[type="email"],
.main .gform_wrapper input[type="number"],
.main .gform_wrapper input[type="password"],
.main .gform_wrapper input[type="tel"],
.main .gform_wrapper input[type="text"],
.main .gform_wrapper input[type="url"],
.main .gform_wrapper textarea {
	font-size: 14px;
	padding: 6px 8px;
}

.wrapper,
.container {
	margin: 0 auto;
	max-width: 1024px;
	position: relative;
}
.container::before,
.container::after {
	clear: both;
	content: " ";
	display: table;
}

/******************************************************************************/

/*!     ii - Customize plugins                                                */

/******************************************************************************/

.woocommerce .woocommerce-breadcrumb {
	color: black;
}

.woocommerce .woocommerce-breadcrumb a {
	color: #d36783;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #719264;
	font-weight: 400;
}

.price {
	margin: 0;
}

[itemprop="description"] {
	color: #719264;
	font-weight: 400;
}

.woocommerce div.product form.cart,
.woocommerce div.product p.cart {
	margin: 16px 0;
}

.woocommerce .product_meta .shop__continue {
	margin: 16px 0;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background: #d36783;
	color: white;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background: #3e3d40;
	color: white;
}

.woocommerce ul.products li.product hr,
.woocommerce-page ul.products li.product hr {
	display: none;
}

.woocommerce ul.products li.product .price {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
}

.delivery-options-message {
	clear: both;
	margin: 16px 0;
	font-size: 80%;
	margin: 0.25rem 0 1rem;
	display: block;
}

.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
	float: none;
}

.product.outofstock .button {
	background-color: #414042;
}

.after-pay-notice {
	color: rgba(0, 0, 0, 0.3);
	font-size: 0.75rem;
	margin: 1rem 0 2rem;
	font-weight: bold;
	float: right;
	width: 46%;
}

/******************************************************************************/

/*!     iii - Body                                                            */

/******************************************************************************/

body {
	background: white;
	color: black;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 400;
}

/******************************************************************************/

/*!    iiii - Fonts                                                           */

/******************************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #3e3d40;
	/* font-family: "minion-pro", Times, Serif; */
	font-family: "Vesper Libre", serif;
	letter-spacing: 2px;
}

h1 {
	color: #d36783;
}

h2 {
	color: #3e3d40;
}

h3 {
	color: #719264;
}

h4 {
	color: #aa996b;
}

a {
	color: #d36783;
	text-decoration: none;
}

a:hover {
	color: #d36783;
	text-decoration: underline;
}

svg {
	display: block;
	height: auto;
	width: 100%;
}

/******************************************************************************/

/*!     STRUCTURE START                                                       */

/*!     1. - Head                                                             */

/******************************************************************************/

.top {
	background: url(img/flower.jpg) no-repeat left bottom white;
	margin: 0 auto;
	max-width: 1024px;
	padding: 0 32px 32px;
	position: relative;
	text-align: center;
}
.top::before,
.top::after {
	clear: both;
	content: "";
	display: table;
}

.logoTitle {
	float: left;
	margin: 0;
}

.logo {
	display: block;
}

.logo__img {
	display: block;
}

.top__desc {
	color: #868684;
	/* font-family: "minion-pro", Times, Serif; */
	font-family: "Vesper Libre", serif;
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 8px;
	line-height: 1.75;
	position: absolute;
	top: 0;
	right: 50%;
	padding-top: 64px;
	text-transform: uppercase;
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
	width: 270px;
}

.top .social {
	position: absolute;
	top: 32px;
	right: 32px;
}

.social__icon {
	display: inline-block;
	margin: 0 0 0 6px;
	vertical-align: top;
}

.social__icon svg {
	height: 2rem;
}

.social__icon .icon--mail *,
.social__icon .icon--instagram *,
.social__icon .icon--facebook * {
	fill: black;
}

.mainNav .social {
	float: left;
}

.mainNav .social__icon svg {
	fill: white;
}

.mainNav {
	background: #414042;
	color: white;
	font-size: 14px;
}

.mobileToggle {
	display: none;
	float: right;
	padding: 16px 8px;
}

.icon--menu {
	height: 28px;
	width: 28px;
}

.menu > ul,
.mainNav > .menu {
	list-style: none;
	margin: 0 auto;
	max-width: 960px;
	padding: 0;
	text-align: center;
}
.menu > ul:before,
.menu:before,
.menu > ul:after,
.menu:after {
	clear: both;
	content: " ";
	display: table;
}

.page_item,
.menu-item {
	/* float: left; */
	margin: 0;
	position: relative;
	display: inline-block;
}

.page_item > a,
.menu-item > a {
	border-bottom: 3px solid transparent;
	color: white;
	display: block;
	/* font-family: "minion-pro", Times, Serif; */
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 13px 20px 10px;
	text-transform: uppercase;
}

.page_item:hover > a,
.menu-item:hover > a,
.current-menu-item > a {
	border-bottom: 3px solid #d36783;
	text-decoration: none;
}

.sub-menu {
	background: #414042;
	display: none;
	margin: 0;
	list-style-type: none;
	padding: 0 16px;
	position: absolute;
	right: 50%;
	top: 100%;
	text-align: center;
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
	width: auto;
	white-space: nowrap;
	z-index: 5;
}

.sub-menu li {
	display: block;
	width: 100%;
}

.sub-menu a {
	color: white;
	display: block;
	padding: 13px 16px 10px;
	text-decoration: none;
}

/*Woo cart menu item */
.menu-item .cart-contents {
	position: relative;
}

.menu-item .cart-contents::before {
	content: "Cart";
	display: inline-block;
}

.menu-item .cart-contents .cart-contents-count {
	--size: 10px;
	display: inline-block;
	margin: 0 0 0 4px;
	vertical-align: 20%;
	top: 0;
	right: 0;
	font-size: var(--size);
	background-color: white;
	color: black;
	border-radius: 2px;
	text-align: center;
	padding: 0 2px;
}

/******************************************************************************/

/*!     2. - Main                                                             */

/******************************************************************************/

.banner {
	background: #aa996b;
	position: relative;
	min-height: 130px;
}

.single .banner {
	min-height: 150px;
}

.banner__item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: none;
}

.banner__img {
	display: block;
	margin: 0 auto;
}

.page__title {
	text-shadow: 0 0 13px rgba(0, 0, 0, 0.9);
	color: white;
	font-family: "Vesper Libre", serif;
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 8px;
	opacity: 0.9;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	text-transform: uppercase;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 2;
}

.single .page__title {
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.sku_wrapper {
	display: none;
}

.main {
	padding: 0 32px;
}
.main:before,
.main:after {
	clear: both;
	content: "";
	display: table;
}

.rndBut {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #d36783;
	border-radius: 100%;
	-webkit-box-shadow: inset 1px 2px 1px 0 transparent;
	box-shadow: inset 1px 2px 1px 0 transparent;
	color: white;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 13px;
	font-weight: 400;
	height: 140px;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin: 0 auto 32px 0;
	margin-right: calc(33.33% - 140px);
	text-align: center;
	text-shadow: 1px 1px 1px transparent;
	text-transform: uppercase;
	-webkit-transition: box-shadow 0.2s ease, text-shadow 0.2s ease;
	-webkit-transition: text-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
	transition: text-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
	transition: box-shadow 0.2s ease, text-shadow 0.2s ease;
	transition: box-shadow 0.2s ease, text-shadow 0.2s ease,
		-webkit-box-shadow 0.2s ease;
	padding: 16px;
	vertical-align: top;
	width: 140px;
	word-break: initial;
	word-wrap: break-word;
}
.rndBut--black {
	background: #3e3d40;
}
.rndBut--green {
	background: #719264;
}
.rndBut--brown {
	background: #aa996b;
}

.rndBut:hover {
	color: white;
	text-decoration: none;
	-webkit-box-shadow: inset 1px 2px 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 1px 2px 1px 0 rgba(0, 0, 0, 0.3);
	text-shadow: 1px 1px 1px black;
}

.home .rndBut {
	font-size: 14px;
	letter-spacing: 2px;
}

.sqrBut {
	background: white;
	border: 2px dotted #adafb1;
	border-radius: 3px;
	color: white;
	display: block;
	font-weight: 400;
	margin: 0 0 16px;
	max-width: 185px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.sqrBut--black .sqrBut__inner {
	background: #3e3d40;
}
.sqrBut--green .sqrBut__inner {
	background: #719264;
}
.sqrBut--brown .sqrBut__inner {
	background: #aa996b;
}

.sqrBut:hover {
	color: white;
	text-decoration: none;
}

.sqrBut__inner {
	background: #d36783;
	display: block;
	padding: 16px;
	-webkit-box-shadow: inset 1px 2px 1px 0 transparent;
	box-shadow: inset 1px 2px 1px 0 transparent;
	text-shadow: 1px 1px 1px transparent;
	-webkit-transition: text-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
	transition: text-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
	transition: box-shadow 0.2s ease, text-shadow 0.2s ease;
	transition: box-shadow 0.2s ease, text-shadow 0.2s ease,
		-webkit-box-shadow 0.2s ease;
}

.sqrBut:hover .sqrBut__inner {
	-webkit-box-shadow: inset 1px 2px 1px 0 rgba(0, 0, 0, 0.165);
	box-shadow: inset 1px 2px 1px 0 rgba(0, 0, 0, 0.165);
	text-shadow: 1px 1px 1px black;
	-webkit-transition: text-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
	transition: text-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
	transition: box-shadow 0.2s ease, text-shadow 0.2s ease;
	transition: box-shadow 0.2s ease, text-shadow 0.2s ease,
		-webkit-box-shadow 0.2s ease;
}

/******************************************************************************/

/*!     3. - Content                                                          */

/******************************************************************************/
.actionButtons {
	background-color: #f5f5f5;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	padding: 64px 32px;

	--cols: 1;
	display: grid;
	justify-content: flex-start;
	gap: 2rem;
	grid-template-columns: repeat(var(--cols), 1fr);
	justify-content: space-around;
	max-width: 99.625vw;
}

@media (min-width: 660px) {
	.actionButtons {
		--cols: 2;
		gap: 5vh;
		padding: 8vh max(32px, calc((100vw - 1280px) / 2));
	}
}

.action-button {
	display: flex;
	flex-flow: column;
	width: 100%;
	text-decoration: none;
	background-color: #313232;
}
.action-button:hover {
	text-decoration: none;
}
.action-button:nth-child(2n) {
	background-color: #6c8a60;
}
.action-button:nth-child(3n) {
	background-color: #d36783;
}
.action-button:nth-child(4n) {
	background-color: #aa996b;
}

.action-button .image {
	width: 100%;
	display: flex;
	height: 100%;
	max-height: 360px;
}
.action-button .image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.action-button .title {
	display: block;
	padding: 1.2rem 2rem 0.8rem;
	color: white;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Vesper Libre", serif;
	font-size: 18px;
	font-weight: bold;
}

.content {
	float: left;
	padding: 64px 16px 64px 0;
	width: 80%;
}

.content--center {
	float: none;
	text-align: center;
	width: auto;
}

.content--full {
	float: none;
	width: 100%;
}

.archive #section {
	padding: 55px 0 0 0;
}

#article {
	float: right;
	line-height: 180%;
	margin: 10px 0;
	padding: 0 16px;
	width: 70%;
	min-height: 550px;
}

#article .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}

#article li {
	list-style-type: disc;
	margin-left: 40px;
	padding: 1px 0 1px 16px;
	line-height: 180%;
}

#article li.product {
	background: none;
	padding: 0;
	text-align: center;
	margin-left: 0;
}

ul.products li,
#payment li {
	list-style-type: none !important;
}

img.butt:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
}

.sp-easy-accordion h3 {
}

body.home .page__title {
	display: none;
}

body.home .content {
	width: 100%;
	padding-right: 0;
}
body.home .sidebar {
	display: none;
}
body.home .content p {
	max-width: none;
}

/******************************************************************************/

/*!     4. - Sidebar                                                          */

/******************************************************************************/

.sidebar {
	float: right;
	width: 20%;
	padding: 32px 0;
}

#aside h2 {
	color: #c1c1a5;
	font: 1.6em Times New Roman;
	line-height: 30px;
	margin: 0;
	padding-right: 12px;
	padding-top: 20px;
}

#aside ul {
	padding: 0;
	border-top: 0 solid #eaeada;
}

#aside li {
	border-bottom: 0 solid #eaeada;
}

#aside li a {
	font-size: 1.1em;
	color: #666;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
	margin-bottom: 2px;
}

#aside li a:hover {
	background: #ccce9c;
	color: #fff;
}

#aside #searchsubmit {
	padding: 3px;
	background-color: #fff;
	border: solid 1px #ccce9c;
	color: #ccce9c;
	text-transform: uppercase;
}

#aside #searchsubmit:hover {
	padding: 3px;
	background-color: #666;
	border: solid 1px #ccce9c;
	color: #fff;
	text-transform: uppercase;
}

#aside .shopp_categories {
	border: solid 1px white;
	padding: 4px;
	width: 100%;
}

#aside .shopp_categories li {
	border-bottom: 0 solid #eaeada;
}

#aside li a {
	background: #ccce9c;
	font-size: 1.1em;
	color: #666;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
	margin-bottom: 2px;
	border-radius: 4px;
}

#aside .shopp_categories li a:hover {
	background: #666;
	color: #fff;
}

#aside #events,
#aside #order {
	display: block;
	margin-bottom: 1em;
	width: 100%;
}

#aside #events img,
#aside #order img {
	border: dotted 2px #ccce9c;
}

#aside #events img:hover,
#aside #order img:hover {
	opacity: 0.85;
	filter: alpha(opacity=85);
}

#aside #share {
	margin-top: 10px;
	margin-left: 15px;
}

/* extra woo stuff */
.shopreturn {
	float: left;
	width: 320px;
}

.shopreturnright {
	float: right;
	width: 100%;
	margin-top: 15px;
}

.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
	width: 100% !important;
}

.wc-sc-call-for-credit-container .wc-sc-label,
.wc-sc-call-for-credit-container .wc-sc-input {
	float: none;
	width: auto;
}

.wc-sc-call-for-credit-container .wc-sc-label {
	margin-bottom: 0.5em;
}

.wc-sc-call-for-credit-container input#credit_called {
	position: static;
	transform: none;
}

#eWAYBlock {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

/******************************************************************************/

/*!     5. - Footer                                                           */

/******************************************************************************/

.footer {
	background: #313232;
	color: white;
	font-size: 14px;
	font-weight: 400;
	padding: 32px 64px;
}

.footer a {
	color: white;
}

.footerActions {
	background: #e9b4c1;
	color: black;
	padding: 0 32px;
}

.footerActions .container {
	padding: 6vw 0;
	width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	text-align: center;
}
.footerActions .container::before,
.footerActions .container::after {
	content: none;
}

.footerActions h4 {
	color: black;
	font-size: 28px;
	font-weight: 400;
	margin: 0 0 1rem;
}

.footerActions p {
	margin: 0 0 1rem;
}

.footerActions__subscribe {
	padding-bottom: 48px;
}

@media (min-width: 640px) {
	.footerActions .container {
		text-align: left;
		flex-flow: nowrap;
		justify-content: space-between;
		padding: 6vw 1em;
	}
	.footerActions__subscribe {
		display: flex;
		padding: 0 32px 0 0;
		flex: 1 70%;
		flex-flow: wrap;
		align-items: flex-start;
		gap: 0 2rem;
	}
	.footerActions__subscribe h4 {
		width: 100%;
	}
	.footerActions__subscribe p {
		flex: 1 300px;
	}
	.footerActions__subscribe .btn {
		flex: 0 220px;
	}
	.footerActions__latest {
		border-left: 1px solid black;
		margin-left: -1px;
		padding: 0 0 0 32px;
		flex: 1 30%;
	}
}

.btn {
	width: auto;
	color: white;
	background-color: #313232;
	padding: 1.2rem 2rem 0.85rem;
	margin: 1rem 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-family: "Vesper Libre", serif;
	line-height: 1.2;
	font-size: 16px;
	display: inline-block;
	transition: all 0.3s ease;
	text-align: center;
}

.btn:hover,
.btn:active {
	color: #d36783;
	text-decoration: none;
}

.btn-lrg {
	font-size: 20px;
}
.btn span {
	display: block;
	font-weight: 400;
	margin: 2px;
}

.footerActions .social {
	position: static;
}

.footerActions__link,
.footerActions__img {
	color: currentcolor;
	display: inline-block;
	font-family: "Vesper Libre", serif;
	font-weight: 400;
	letter-spacing: 1px;
	width: 40px;
	transition: all 0.3s ease;
	margin-right: 12px;
}

.footerActions__link:hover {
	color: black;
}

.footerActions__link svg {
	width: 100%;
	height: auto;
	display: block;
}

.footer .container {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	gap: 2em 1em;
	padding: 1rem;
}
.footer .container::before,
.footer .container::after {
	content: none;
}

.footer-credits {
	display: flex;
	align-items: center;
}

.footer-credits img {
	max-width: 220px;
	margin: 1.5em 1.5em 1.5em 0;
}

.footer-credits p {
	max-width: 250px;
}

.footer-nav {
	display: flex;
	width: 100%;
}

.footer-nav h4 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #9e9e9c;
}
.footer-nav h4::after {
	content: "";
	display: block;
	width: 48px;
	height: 4px;
	background-color: #889e5c;
	margin: 12px 0 0;
}

.footer-nav ul {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-flow: wrap;
}
.footer-nav ul::before,
.footer-nav ul::after {
	content: none;
}

.footer-nav ul li {
	float: none;
	flex: 1 50%;
}

.footer-nav li:first-child a,
.footer-nav li:nth-child(2) a {
	font-weight: bold;
	font-size: 16px;
}

.footer-nav a {
	padding: 0.5em 0;
	border-bottom: none;
	text-transform: capitalize;
	font-weight: 400;
}
.footer-nav a:hover {
	border-bottom: none;
	padding-bottom: 0.5em;
	text-decoration: none;
	color: #d36783;
}

.footer .alignleft,
.footer .alignright {
	margin: 0;
}

.footer-credits,
.footer-nav {
	width: 100%;
}

.footer-nav {
	max-width: 400px;
}

@media (min-width: 600px) {
	.footer .alignleft {
		flex: 1 300px;
	}
	.footer .alignright {
		flex: 1 200px;
		margin-left: auto;
		text-align: right;
	}
}

@media (min-width: 710px) {
	.footer-credits {
		width: 60%;
	}
	.footer-nav {
		width: calc(40% - 2em);
	}
}

/******************************************************************************/

/*!     6. - Responsive                                                       */

/******************************************************************************/
@media (max-width: 1024px) {
	#eWAYBlock {
		position: inherit;
		max-width: 40%;
	}
}

@media (max-width: 960px) {
	.wp-caption.alignleft {
		margin: 15px 1.667%;
		width: 30% !important;
	}
}

@media (max-width: 910px) {
	.mobileToggle {
		display: block;
	}

	.mainNav {
		padding: 0 32px;
		position: relative;
	}

	.mainNav::before,
	.mainNav::after {
		clear: both;
		content: " ";
		display: table;
	}

	.menu > ul,
	.mainNav > .menu {
		background: #666;
		display: none;
		position: absolute;
		top: 100%;
		right: 32px;
		z-index: 10;
	}

	.page_item,
	.menu-item {
		float: none;
		display: block;
	}

	.mainNav .sub-menu {
		display: block;
		margin: 0;
		padding: 0 16px 8px;
		position: static;
		text-align: left;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	.sub-menu a {
		padding: 11px 16px 8px;
	}
}

@media (max-width: 768px) {
	body {
		margin: 0;
	}

	.top__desc {
		font-size: 20px;
		top: auto;
		bottom: 32px;
		margin: 0;
		padding: 32px 0 0;
		width: 33%;
	}

	.top .social {
		float: left;
		position: static;
	}

	.social__icon {
		padding: 12px 8px;
	}

	.content,
	.sidebar {
		padding-right: 0;
		float: none;
		width: auto;
	}

	.actionButtons {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.rndBut {
		margin: 0 16px 16px;
	}

	.sidebar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}

	.sqrBut {
		margin: 0 16px 16px;
		width: 175px;
	}

	.wp-caption.alignleft {
		margin: 15px 1.5%;
		max-width: 180px;
		width: 47% !important;
	}
}

@media (max-width: 680px) {
	.top {
		padding: 0 16px 32px;
	}

	.mainNav,
	.main {
		padding: 0 16px;
	}

	.footerActions,
	.footer {
		padding: 16px;
	}

	.menu > ul,
	.mainNav > .menu {
		right: 0;
		text-align: left;
	}

	.banner__img {
		display: none;
	}

	.page__title {
		text-shadow: 0 0 8px rgba(0, 0, 0, 0);
		font-size: 22px;
	}

	#article #gallery-1 br {
		clear: none !important;
	}

	#article #gallery-1 .gallery-item {
		width: 31.33%;
	}
}

@media (max-width: 640px) {
	.logoTitle {
		width: 30%;
	}

	.top__desc {
		left: 30%;
		padding: 32px 8px 0;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		width: 70%;
	}
}

@media (max-width: 460px) {
	.top__desc {
		font-size: 16px;
		padding: 32px 16px 0;
	}
}

.tml {
	max-width: 23rem; /* 350px */
}

/* WOOCOMMERCE */
.woocommerce form .form-row .input-text,
.woocommerce-page form .form-row .input-text {
	font-family: "Poppins", sans-serif;
}

body.woocommerce-checkout h3 {
	color: #d36783;
	font-size: 20px;
	margin: 2rem 0 0.5rem;
}

.woocommerce form .form-row:not(:last-child) {
	margin-bottom: 12px;
}

.woocommerce form .form-row .optional {
	font-weight: normal;
	font-size: 12px;
	vertical-align: middle;
}

.select2-container .select2-selection--single {
	height: 34px;
	border-color: #3434;
	border-radius: 2px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 12px;
	font-size: 14px;
	color: #000;
	line-height: 34px;
	font-weight: 400;
}

form.checkout > .woocommerce-NoticeGroup-checkout {
	margin-top: 1rem;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background-color: white;
	border-radius: 3px;
	border: 1px solid #3434;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
	padding: 0;
	border-bottom: 1px solid #3434;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
	padding: 1em;
	border-bottom: 1px solid #3434;
}

.woocommerce table.shop_table {
	border-radius: 3px;
}

.woocommerce table.shop_table,
.woocommerce table.shop_table td,
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
	border-color: #3434;
}

#add_payment_method #payment ul.payment_methods li:last-child,
.woocommerce-cart #payment ul.payment_methods li:last-child,
.woocommerce-checkout #payment ul.payment_methods li:last-child {
	border-bottom: none;
}

.woocommerce form .form-row .required {
	color: #d36783;
}

.woocommerce-checkout .col2-set {
	gap: 2%;
	justify-content: space-between;
	display: flex;
	flex-flow: wrap;
}

.woocommerce-checkout .col2-set::before,
.woocommerce-checkout .col2-set::after {
	content: none;
}

body.woocommerce-checkout #customer_details.col2-set > div {
	width: 100%;
}

@media (min-width: 712px) {
	.woocommerce-checkout .col2-set {
		--cols: 2;
		display: grid;
		grid-template-columns: repeat(var(--cols), 1fr);
		grid-template-areas: "ship review" "pay review";
		padding-bottom: 50px;
	}

	/* Sticky order review */
	#order_review {
		position: sticky;
		top: 55px;
	}

	.woocommerce-checkout .col-1 {
		grid-area: ship;
	}
	.woocommerce-checkout .col-3 {
		grid-area: pay;
	}
	.woocommerce-checkout .col-2 {
		grid-area: review;
	}
}

#deliveryoptions_field {
	margin-bottom: 2em;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
	width: 100%;
	float: none;
	padding: 1.5em;
}

body.woocommerce-checkout .banner {
	display: none;
}

body.woocommerce-checkout .woocommerce-info {
	border: none;
}

body.woocommerce-checkout .woocommerce-info::before {
	display: none;
}

body.woocommerce-checkout,
body.woocommerce-checkout strong,
.woocommerce table.shop_table th,
.woocommerce table.shop_table tfoot th,
.woocommerce ul#shipping_method .amount,
.woocommerce table.shop_table tfoot td {
	font-weight: 400;
}

body.woocommerce-checkout h3 {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	letter-spacing: 0;
}

.woocommerce form .form-row .required {
	display: none;
}

#billing_country_field,
#shipping_country_field {
	display: none;
}

#order_comments {
	min-height: 100px;
}

.xa-modal {
}

.xa-modal .xa-modal-content {
	max-width: 90%;
	padding: 2rem;
}

.xa-modal .xa-modal-content::before {
	content: "There was an issue with your address!";
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: black;
	width: 100%;
	display: block;
}

.xa-modal .xa-container {
	padding: 0;
}

table.xa-popup {
	width: 100%;
}

.xa-modal .xa-btn {
	background-color: #d36783 !important;
	border-radius: 2px !important;
	padding: 1rem;
	font-weight: bold;
}
