@page {
	margin: 6mm 6mm 10mm;
	size: A4;
}

@page {
	@bottom-left {
		content: counter(page) ' of ' counter(pages);
	}
}

body{ -webkit-print-color-adjust:exact; color-adjust:exact;}

.wfte_row{ width:100%; display:block; }
.wfte_col-1{ width:100%; display:block;}
.wfte_col-2{ width:50%; display:block;}
.wfte_col-3{ width:33%; display:block;}
.wfte_col-4{ width:25%; display:block;}
.wfte_col-6{ width:30%; display:block;}
.wfte_col-7{ width:69%; display:block;}

table.wfte_product_table tbody {
	break-inside: avoid;
	page-break-inside: avoid;
}

.wfte_invoice-main .wfte_invoice-header,
.wfte_invoice-main .wfte_invoice-body {
	padding: 10px 0;
}

.wfte_product_table_order_row {
	border-top: 24px solid white;
}

.wfte_product_table .wfte_product_table_body td {
	border: solid 1px #dadada;
	border-width: 0 0 1px;
}
.pklist-row-text {
	padding: 4px 12px;
	float: left;
	font-weight: bold;
	text-transform: uppercase;
	border-right: 2px solid black;
}
.pklist-row-text.col-2 {
	border-right: none;
}
.pklist-row-text.col-3 {
	border-right: none;
	float: right;
	text-align: right;
}

.quantity_td {
	width: 100px;
}
